@import url("https://fonts.googleapis.com/css?family=Harmattan");

@media print {
   * {
      font-size: 12pt;
   }
}

html {
   font-size: 25px;
}

body * {
  font-family: 'Harmattan', sans-serif !important;
}

[lang="ar"] {
  font-family: 'Harmattan', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stackedTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stackedTextContainer.center {
   justify-content: center;
}

.stackedTextContainer.toMan,
.stackedTextContainer.toWoman,
.stackedTextContainer.person1,
.stackedTextContainer.person2 {
   position: relative;
}

.stackedTextContainer.toMan {
   border-right: 2px solid #b43d3d;
}

.stackedTextContainer.toMan:before {
   content: "to a man";
   font-size: 0.75rem;
   transform: rotate(90deg);
   position: absolute;
   right: -40px;
   top: 15px;
}

.stackedTextContainer.toMan .phoneticText {
  color: #b43d3d;
}

.stackedTextContainer.toWoman {
   border-right: 2px solid #3b913e;
}

.stackedTextContainer.toWoman:before {
   content: "to a woman";
   font-size: 0.75rem;
   transform: rotate(90deg);
   position: absolute;
   right: -48px;
   top: 25px;
}

.stackedTextContainer.toWoman .phoneticText {
  color: #3b913e;
}

.stackedTextContainer.person1 {
   border-right: 2px solid #d5913c;
}

.stackedTextContainer.person1:before {
   content: "person 1";
   font-size: 0.75rem;
   transform: rotate(90deg);
   position: absolute;
   right: -40px;
   top: 15px;
}

.stackedTextContainer.person1 .phoneticText {
  color: #d5913c;
}

.stackedTextContainer.person2 {
   border-right: 2px solid #6c32b6;
}

.stackedTextContainer.person2:before {
   content: "person 2";
   font-size: 0.75rem;
   transform: rotate(90deg);
   position: absolute;
   right: -48px;
   top: 25px;
}

.stackedTextContainer.person2 .phoneticText {
  color: #6c32b6;
}
.stackedText {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
}
.stackedText > span {
  min-height: 1rem;
}

.translatedText {
  font-size: .9rem;
  color: darkgrey;
}

.vernacularText {
   font-size: 1.75rem;
  line-height: 1.5;
}

.phoneticText {
  color: #3060c7;
}

.smallText {
   font-size: .8rem;
   color: #888;
}

.smallText.center {
   text-align: center;
}

